body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

header {
    background-image: url(../image/image.jpg);
    height: 625px;
    background-size: cover;
    background-position: right center;
}

header ul {
    padding: 25px;
    margin: 0 80px 0 0;
    text-align: right;
    list-style-type: none;
}

header li {
    display: inline-block;
    border: 1px solid white;
    margin-left: 16px;
}

nav a {
    background-color: rgba(0, 0, 0, .3);
    padding: 16px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.text {
    margin: 100px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    margin-bottom: 0;
}

header p {
    background-color: rgba(0, 0, 0, .7);
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    border-bottom: 2px solid;
}

main {
    width: 90%;
    margin: auto;
    max-width: 860px;
}

article {
    background-color: white;
    padding: 16px;
    margin: 32px 0;
}

article h2 {
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin-top: 0;
    text-transform: uppercase;
}

main a {
    background-color: #cdc7c3;
    display: block;
    padding: 12px 16px;
    border-radius: 6px;
    margin-left: auto;
    width: fit-content;
}

footer {
    color: white;
    background-color: #6b6c68;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}